docs/** linguist-documentation
docs/** linguist-vendored

*.Rmd linguist-detectable=true
*.Rmd linguist-language=R
*.qmd linguist-detectable=true
*.qmd linguist-language=R
*.css linguist-detectable=true
